{% extends 'base.html.twig' %}

{% block body %}

	{% for message in app.flashes('empreint') %}
		<div class="alert alert-success">
			<h3>
				{{ message }}</h3>
		</div>
	{% endfor %}

	<section class="playlist-section spad">
		<div class="container-fluid">




        <div class="col-md-9">
		     
        {% include 'livre/_filter.html.twig' with {  form:form }   %}


		</div>
		

			<div class="section-title">
				<h2>Menu</h2>
			</div>
			</div>
			<div>
			<div class="container">
				<ul class="playlist-filter controls">
					<li class="control" data-filter=".scolaire">scolaire</li>
					<li class="control" data-filter=".documentaire">documentaire</li>
					
					
                    <li class="control" data-filter=".Fiction">Fiction</li>
					    <li class="control" data-filter=".scientifique">scientifique</li>
						    <li class="control" data-filter=".roman">roman</li>
					<li class="control" data-filter="all">tous </li>
				</ul>
			</div>
			<div class="clearfix"></div>
			<div class="row playlist-area">
				{% for livre in livres %}
        
					<div class="mix col-lg-3 col-md-4 col-sm-6 {{livre.categorie}}">
						<div class="playlist-item">
							<img src="{{asset('images/' ~ livre.image)}}">
							<h5>{{livre.titre}}
								- EUR
								{{livre.prix}}</h5>
							<p>BestNr.
								{{livre.id}}
								{% if  is_granted('IS_AUTHENTICATED_FULLY') %}
					
                            <a class ="btn btn-outline-danger btn-sm" href={{path('empreinter',{id : livre.id})}} role="button">Empreinter</a>
								
					{% endif %}
						{% if not  is_granted('IS_AUTHENTICATED_FULLY') %}
						 <a class ="btn btn-outline-danger btn-sm" href={{path('app_login')}} role="button">Empreinter</a>
								
					
							{% endif %}
						</div>
					</div>
				{% endfor %}

			</div>
		</div>
	</section>
{% endblock %}
